:root {
    
    --accordion-container-padding: 1rem; 
    --item-campus-height: 36px;  /* Posa aquí l'altura real que vulguis */
    --cta-container-height:100px;
    --accordion-container-top:60px;
    --accordion-container-left:25px;

}



/* Estil general per a tot el panel del menú */
.menu-panel {
    background-color: rgba(52, 52, 52,1);  /* Color de fons sòlid */
    position: fixed;             /* Fixar el menú a la pantalla */
    top: 0;                      /* Posició superior a 0 */
    left: 0;                     /* Posició esquerra a 0 */
    width: 100%;                 /* Amplada al 100% de la pantalla */
    height: 100%;               /* Altura al 100% de la pantalla */
    overflow-y: auto;            /* Si el contingut és més gran que l'altura, mostra una barra de desplaçament */
    overflow-x: hidden;
    font-family:'lota_regular';
    font-size: 16px;
    line-height: 1.75;
}
.close_menu{
    background-image: url(../../../assets/img/cruz_blanc_1.png);
    position: absolute;
    top: 35px;
    right: 20px;
    width: 16px;
    height: 16px;
}
/* Estil per al contenidor d'accordions */
.accordion-container {
    /* margin-top: var(--item-campus-height); */
    padding-bottom: 0;
    /* padding-right: var(--accordion-container-padding);    */
    max-height: calc(100%  - var(--cta-container-height) - ( var(--accordion-container-padding)) - var(--item-campus-height)); 
    position:relative;
    border-left: 1px solid white;
    position: relative;
    top:var(--accordion-container-top);
    left:var(--accordion-container-left);
    width: calc(100% - 40px);
    /* background-color: brown; */
}
.desapear{
    -webkit-mask: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 100%);
    mask: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 100%);
    margin-top: 10px;
        /* background-color: aliceblue; */
    /* width: 110%; */
    position: relative;
    left: -4px;
}
.desapear-container {
    overflow: hidden;
    position: relative;
    

}
/* Estils per als menús d'accordions */
.accordion-menu {
    margin-bottom: 0px;       /* Espaiament a la part inferior per separar-los */
}

/* Estil per als botons del títol d'accordions */
.accordion-title {
    background-color: transparent;     /* Color de fons més clar que el del panel */
    color: #F2F2F2;               
    /* color: #fff;               */
    padding: 0px;            /* Espaiament intern */
    border: none;               /* Sense borda */
    width: 100%;                /* Amplada al 100% del contenidor */
    text-align: left;           /* Alinear text a l'esquerra */
    cursor: pointer;            /* Cursor en forma de mà quan es posa el ratolí a sobre */
    height: var(--item-campus-height);
    padding: 3px 19px ;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 22px;
    border-left: 8px solid rgba(200, 16, 46,0);
    transition: border-color 0.3s ease;
    margin-left: -4px;
}
.accordion-title, 
.accordion-container p {

    position: relative;
    z-index: 20;
}
/* Estil per al contingut ocult d'accordions */
.accordion-content {
    height: 100%;

    overflow-y: auto;  
    overflow-x: hidden;
    transition: height 0.3s ease-in-out; /* Afegeix una transició suau */
    position: relative;
    left:-2px;
    font-size: 18px;

}
.accordion-content > p:last-of-type {
margin-bottom: 10px;

}


  .accordion-content  p.separator{
    color: #F2F2F2;  
        margin-top: 12px;
        border-left: none;
        /* display:inline-block; */
        width: 70%;
        border-bottom: 1px solid rgba(255,255,255,1);
        margin-left: 29px;
        padding-left: 0px;
        margin-bottom: 5px;
        }
        .accordion-content p.separator:first-of-type {
            margin-top: 0px;
        }
/* Estil per als elements clicables dins dels accorions (Entrada, Espacio polivalente, etc.) */
.accordion-content p {
    color: #F2F2F2;             /* Color de lletra encara més clar */
    cursor: pointer;           /* Cursor en forma de mà */
    margin: 0px 3px;
    padding: 3px 20px;
    border-left: 5px solid rgba(200, 16, 46,0);
    width: calc(100% - 70px);
    transition: border-color 0.3s ease;
}

/* .accordion-content p:hover {
    background-color: #555;  
} */

#menuBalmes {
    height: auto; /* Per mostrar el contingut per defecte */
}

/* ////////////////////////////////////////// CTA ///////////////////////////////////////// */


.cta-container{
    /* background-color: #555; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    overflow: hidden;
    z-index: 999; 
    border-top: 1px solid #fff;
    margin-left:25px;
    width: calc(100% - 50px);
    gap:20px;
}
.cta{
    

    display: flex;
    height:20px;
    line-height: 0%;
    line-height: 22px;

    
}
.ctasec{
    padding-left: 20px;
    border-left: 1px solid #fff;
}
.lang_cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    /* background-color: aqua; */
}
.lang_cont div{
    padding-top: 4px;
}
.cta-container a{
    display: block;
    color: #F2F2F2;  
    margin: 0;
    text-decoration: none;
    /* background-color: aqua; */
    height: 100%;
    position:relative
}

.underlined {
    text-decoration: underline;
    color: #F2F2F2;
    pointer-events: none;
}


@media only screen and (max-width: 365px) {

    .cta-container{
        gap:15px;
    }
    .ctasec{
        padding-left:15px;
    }

}
@media only screen and (max-width: 345px) {

.menu-panel{
    font-size: 14px;
}
}